[Unit]
Description=REST API service
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=node /home/ubuntu/webapp/app.js
EnvironmentFile=/home/ubuntu/webapp/.env
Restart=on-failure

[Install]
WantedBy=multi-user.target